$fs-0: 1em;
$fs-1: 1.333em;
$fs-2: 1.777em;
$fs-3: 2.369em;
$fs-4: 3.157em;
$fs-5: 4.209em;
$fs-6: 5.61em;
$fs-7: 7.478em;

$primary-color: #63735B;


$color-primary: $primary-color !default;
$color-primary-dark: darken($primary-color, 15%) !default;
$color-accent: $palette-pink-a200 !default;
$color-accent-dark: $palette-pink-700 !default;
$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default;